@import "http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";
body {
    background-image: url("BackGrounds/onepunchWallpaper3.jpg");
    background-size: cover;
    /*background-color: grey;*/
    margin: 0;
    padding: 0;
}

#box{
    width: 500px;
    overflow: hidden;
    background: rgb(31, 29, 29);
    box-shadow: 0 0 100px black;
    opacity: 0.9;
    border-radius: 10px;
    top: 30%;
    right: 35%;
    /*transform: translate(85%,-350%);*/
    z-index: 9999;
    padding: 10px;
    text-align: center;
    position: absolute;
    display: none;
    /*display: block;*/
}
#box span{
    color: orangered;
    font-size: 40px;
    display: block;
    margin: 20px 0;
}
#box h2{
    color: rgb(255, 94, 0);
    font: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0.7;
}
.close{
    font-size: 18px;
    color: rgb(119, 41, 13);
    padding: 10px 20px;
    cursor: pointer;
    background: silver;
    opacity: 0.9;
    display: inline-block;
    border-radius: 5px;
}

.OnePunchCharacter {
    width:100%;
    height:100%;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
    /*transform: scaleX(-1);*/
}
.OnePunchLogo {
    width:100%;
    height:100%;
    position: relative;
    border-radius: 10px;
    cursor: pointer;
}

header{
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
}
.firstDiv {
    align-content: center;
    padding-bottom: 1%;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 1%
}
.title{
    font-size: 30px;
    padding: 10px;
    color: rgb(255, 94, 0);
    font: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.moveCount{
    color: rgb(255, 94, 0);
    font: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.restartButton{
    position: absolute;
    left: 12px;
    top: 58px;
    
    background-color: rgb(46, 46, 46);
    color: rgb(255, 94, 0);
    padding: 14px 25px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 5px;
}

.Card {
  /*padding: 5px;*/
  margin: 7px;
  /*background-image: url("CardImages/CardBack.png");*/
  background-size: cover;
  width: 120px; /*109px*/
  height: 150px;     /*136px*/       
  position: relative;
  align-content: center;
  border-radius: 10px;
  opacity: 0.9;
}
.Card .CardFront {
  /*transform: rotateX(0deg) rotateY(0deg);
  transition: all .4s ease-in-out;
  backface-visibility: hidden;
  z-index: 10;*/
    /*flip*/    
    transform: rotateY(180deg);
  transform-style: preserve-3d;
  transition: all .4s ease-in-out;
  backface-visibility: visible;
  z-index: 900;
  
}
.Card .CardBack {    
    /*transform: rotateX(0deg) rotateY(180deg);
    transform-style: preserve-3d;
    transition: all .4s ease-in-out;
    backface-visibility: hidden;
    z-index: 5;*/

    /*flip*/
    transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: all .4s ease-in-out;
  backface-visibility: visible;
  z-index: 1000;
  
}
.Card.flip .CardFront {
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    transition: all .4s ease-in-out;
    backface-visibility: hidden;
    z-index: 900;
}
.Card.flip .CardBack {
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    transition: all .4s ease-in-out;
    backface-visibility: visible;
    z-index: 1000;
}

.grid-container {
    display: grid;
    /*grid-template-columns: auto auto auto auto auto;*/
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    padding: 10px;
    grid-gap: 4px;
    justify-items: center;
  }
  

